.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* !!!!!! Свойство box-sizing применяется для изменения алгоритма расчёта ширины и высоты
                                    элемента. Согласно спецификации CSS ширина блока складывается из ширины контента
                                     (width), значений отступов (margin), полей (padding) и границ (border).
                                     Аналогично обстоит и с высотой блока.
                                     content-box: Это значение по умолчанию. Оно означает, что ширина и высота элемента
                                     применяются только к контенту элемента. Границы и внутренние отступы не включаются
                                     в вычисление. Например, если у вас есть элемент с width: 100px;, то его
                                     фактическая ширина будет 100 пикселей, а границы и внутренние отступы добавятся к
                                     этой ширине, делая элемент шире
                                     border-box: Это значение говорит браузеру учитывать границы и внутренние отступы в
                                     значениях, которые вы указываете в ширине и высоте элемента. Если вы выставите
                                     элементу width: 100px;, то эти 100 пикселей будут включать в себя границы и
                                     внутренние отступы, а контент сожмётся, чтобы выделить для них место. Обычно это
                                     упрощает работу с размерами элементов*/
}

body {
  height: 100%;
  font-family: sans-serif;
  font-weight: 400;
  font-style: oblique;
  background: var(--color-background);

}


:root {
  --color-border: rgb(255 255 255 / 16%);
  --color-background: rgb(255 255 255);
}
/*
* {
  outline: 1px solid green;
}*/
